$clr--white: #ffffff;
$clr--background: #070724;
$clr--blue-300: #419ebb;
$clr--yellow: #eda249;
$clr--red: #d83a34;
$clr--orange-400: #cd5120;
$clr--dark-gray: #38384f;
$clr--light-gray: #838391;
$clr--purple: #6f2ed6;
$clr--orange-300: #d14c32;
$clr--sea-green: #1ec2a4;
$clr--blue-400: #2d68f0;
